#header {
	color:#9d4c51;
	
animation-name: casper;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;

font-family: "Times New Roman";
font-style: bold;
font-style: italic;
font-size: 45px;
text-align: center;
text-shadow: 1px 1px white;
	
position: absolute;
top: 30px;
}

#spotify {
color:white;
animation-name: ani;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-timing-function: linear;
animation-delay: -2.0s;

font-family: "Times New Roman";
font-style: bold;
font-style: italic;
font-size: 40px;
text-shadow: 1px 1px red;

position: fixed;
right: 400px;
top: 500px;
}

#instagram {
color:white;
animation-name: ani;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-timing-function: linear;

font-family: "Times New Roman";
font-style: bold;
font-style: italic;
font-size: 40px;
text-shadow: 1px 1px red;

position: fixed;
right: 400px;
top: 500px;
}

#applemusic {
color:white;
animation-name: ani;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-timing-function: linear;
animation-delay: -3s;

font-family: "Times New Roman";
font-style: bold;
font-style: italic;
font-size: 40px;
text-shadow: 1px 1px red;

position: fixed;
right: 400px;
top: 500px;
}

#vid {
position:fixed;
top:150px;
bottom:150px;
left:25px;
box-shadow: 15px 30px 3px #1a040c;

}


html {
background-image: url("cadesix.github.io/BG.jpg");
background-size: cover;
background-position: center center;
background-attachment: fixed;
}

@keyframes ani {
    from { transform: rotate(0deg) translateX(200px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

@keyframes casper {
0% {opacity: 0.0; top:10px; left:600px; right:600px;} 
100% {opacity: 1.0; top:60px; left: 600px; right: 600px;} 

}


a:link {
color: white;
text-decoration:none;
}

a:visited {
color:white;
text-decoration:none;
}

a:hover {
color:black;
text-decoration:none;
}

a:active {
color:black
text-decoration:none;
}

@media only screen and (max-width: 768px;) {
	.spotify {
		animation: none !important;
}
