#header {
color: red;
font-family: "Times New Roman";
font-style: bold;
font-style: italic;
font-size: 45px;
text-align: center;
text-shadow: 1px 1px white;
	
position: relative;
top: 30px;
}

#spotify {
color:white;
animation-name: ani;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-timing-function: linear;
animation-delay: -2.0s;

font-family: "Times New Roman";
font-style: bold;
font-style: italic;
font-size: 40px;
text-shadow: 1px 1px red;

position: fixed;
right: 400px;
top: 500px;
}

#instagram {
color:white;
animation-name: ani;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-timing-function: linear;

font-family: "Times New Roman";
font-style: bold;
font-style: italic;
font-size: 40px;
text-shadow: 1px 1px red;

position: fixed;
right: 400px;
top: 500px;
}

#applemusic {
color:white;
animation-name: ani;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-timing-function: linear;
animation-delay: -3s;

font-family: "Times New Roman";
font-style: bold;
font-style: italic;
font-size: 40px;
text-shadow: 1px 1px red;

position: fixed;
right: 400px;
top: 500px;
}

#vid {

}


html {
background-image: url("BG.jpg");
background-size: cover;
background-position: center center;
background-attachment: fixed;
}

@keyframes ani {
    from { transform: rotate(0deg) translateX(200px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

@keyframes casper {
0% {opacity: 0.0; top:10px; left:400px; right:400px;} 
100% {opacity: 1.0; top:60px; left: 400px; right: 400px;} 

}


a:link {
color: white;
text-decoration:none;
}

a:visited {
color:white;
text-decoration:none;
}

a:hover {
color:black;
text-decoration:none;
}

a:active {
color:black
text-decoration:none;
}

@media (max-width: 768px) {
    #header {
		animation: none;
        position: relative;
    }
    
    #spotify {
        animation: none;
        position: relative;
        right: 10px;
        left: 10px;
        top: 200px;
    }
    
    #instagram {
        animation: none;
        position: relative;
        right: 10px;
        left: 10px;
        top: 200px;
    }
    
    #applemusic {
        animation: none;
        position: relative;
        right: 10px;
        left: 10px;
        top: 200px;
    }

	.vid {
		display: none;
    }
	
}

